@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
body {
  background-color: #eaeaea;
}
.header {
  border-bottom: 2px solid red;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1200px;
  margin: 100px auto;
}
.footer {
  text-align: center;
  background: #ccc;
  padding: 100px;
}
.navigation li {
  display: inline-block;
}









