@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
body {
  background-color: #eaeaea;
}
.header {
  border-bottom: 2px solid red;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1200px;
  margin: 100px auto;
}
.footer {
  text-align: center;
  background: #ccc;
  padding: 100px;
}
.navigation li {
  display: inline-block;
}
.KMS {
  margin-top: 50px;
  padding: 0 100px;
  color: coral;
  background-color: #111;
}
.cjy {
  padding: 100px 50px 0 100px;
  color: brown;
  line-height: 1.7;
  font-weight: 500;
  text-align: justify;
}







